.container {
    text-align: right;
    padding-left: 400px;
  }
  
  .form-control
  {
    box-shadow: 0 10px 40px 0 #B0C1D9;
    width: 50%;
    height: 25px;
    margin-top: 10px;
    margin-left: 108%;
  }
  h1{
      text-align: center;
      color: blue;
  }
  .table 
  {
    margin-top: 10px;
    margin-left: 430px;
  }